[Desktop Entry]
Name=Birdie
Comment=Wakeup Alarm
Keywords=time;timer;alarm;
Exec=birdie
Icon=com.github.dejvino.birdie
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;Clock;
StartupNotify=true
X-Purism-FormFactor=Workstation;Mobile;
